.fullscreen-bg{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	overflow:hidden;
	z-index:-100;
}
.fullscreen-bg__video{
  position: absolute;
  top:50%;
  left:50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
}

@media (max-width: 767px){
	.fullscreen-bg{
		background:url(../videos/blurry-night.jpg) center center / cover no-repeat;
	}
	.fullscreen-bg__video{
		display:none;
	}
}

.mini-layout{
	color:#FFFFFF;
	z-index:100;
	position:relative;

}
.logo-container{
	padding-top:10px;
	margin:auto;
	margin-bottom:0;
}
.header-logo{
	background-image:url(../images/logo-dark.png);
	background-repeat:no-repeat;
	background-position: center;
	background-size:contain;
	height: 200px;
	width:600px;
	margin:auto;
}

.input-field{
  margin-bottom: 20px;
}

/* Form Color */

/* label color */
.input-field label {
 color: white;
}
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field textarea[id=message]:focus + label {
 color: #D1C4E9;
}
/* label underline focus color */
.input-field input[type=text]:focus ,
.input-field input[type=email]:focus,
.input-field textarea[id=message]:focus{
 border-bottom: 1px solid #D1C4E9;
 box-shadow: 0 1px 0 0 #D1C4E9;
}
/* valid color */
.input-field input[type=text].valid,
.input-field input[type=email].valid ,
.input-field textarea[id=message].valid{
 border-bottom: 1px solid #E040FB;
 box-shadow: 0 1px 0 0 #E040FB;
}
/* invalid color */
.input-field input[type=text].invalid,
.input-field input[type=email].invalid ,
.input-field textarea[id=message].invalid{
 border-bottom: 1px solid #D32F2F;
 box-shadow: 0 1px 0 0 #D32F2F;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #D1C4E9;
}
        



