.vid-background{
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background:url(videos/blurry-night.jpg);
  background-size: cover;
  z-index:0;
  position: absolute;
  bottom:0;
}
.mini-layout{
	color:#FFFFFF;
}
.portfolio-header {
  position: relative;
/*   background-image: url(images/logo-dark-background.png); */
/*   background-repeat: no-repeat;
  background-position: center; */
  height:60%;
}

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height:100%;
}
.mdl-layout__title{
	text-align:center;
}
.logo-box{
	padding-top:10px;
	height:50%;
	width:100%;
	margin:auto;
	margin-bottom:0;
}
.header-logo{
	background-image:url(images/logo-dark.png);
	background-repeat:no-repeat;
	background-position: center;
	background-size:contain;
	max-height: 200px;
	max-width:600px;
	height:100%;
	width:100%;
	margin:auto;
}
@media screen and (max-width: 1024px){
  .header-logo{
    height:100px;
    width: 350px;
  }
}


