.portfolio-header {
  position: relative;
  /*background-color: #D8D8D8;*/
  background-image: url(images/header-background.png);
  background-repeat: no-repeat;
  background-position: center;
  height:200px;
}

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

